#Cookie{

    margin: auto;
    display: block;

}

#Counter{

    margin-top: 100px;
    text-align: center;
    margin: auto;

}

#Upgrade{

    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

#AutoClicker{

    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

#Woah{

    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}